[Desktop Entry]
Name=PyDict
Comment=A Dictionary Scalper
Exec=pydict
Icon=search
Categories=Education;Languages;
Terminal=false
Type=Application
Version=1.0